



section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    

    h2 {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 4px;
        padding: 10px;
    }

    

}


form {
    padding: 40px;

    input {
        width: 100%;
        font-family: 'italic';
        text-align: center;
        padding:10px;
        box-sizing: border-box;
        outline: none;
        border-radius: 20px;
        border-color: #606161;
        margin-bottom: 20px;

    }

}



